<div class="row">
    <div class="col-xs-12 col-sm-1">
        <div ng-controller="modalController">
            <img ng-src="{{ entry.values.icon_url }}"
                 width="45"
                 height="45"
                 ng-click="openModalImage(entry.values.icon_url)">
        </div>
    </div>
    <div class="col-xs-12 col-sm-8"><ma-file-field field="field" value="entry.values.icon_url"></ma-file-field></div>
</div>
<div class="row"><small id="emailHelp" class="form-text text-muted">120x120 px, not larger than 200 KB</small></div>